/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.a {
  color: #0086fc;
  font-family: Georgia;
  font-size: xx-large;
  text-align: center;
  text-decoration: underline;
}

.bgi {
  background-image: url('./images/h6.avif');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
}

ul li {
  text-decoration: none;
  float: right;
  padding: auto;
  margin: 10px 10px;
  text-align: center;
  width: 100px;
  overflow: hidden;
  background-color: #ccb586;


}

ul li:hover {
  background-color: #52ff66;
  text-decoration: none;
}

ul li:visited {
  background-color: #39f63c;
  text-decoration: none;
}

ul li:visited {
  background-color: #fffb7b;
  text-decoration: none;
}

ul li:link {
  background-color: #fd0000;
  text-decoration: none;
}




/* Menu CSS */
/* .mb {
  height: 50vh;
  width: 50vh;
  background-color: #ff0000;
  opacity: 0.8;
  padding: 40px;
  margin: 20px;
} */

.c {
  text-align: center;
}

.l {
  text-align: left;
}

.r {
  text-align: right;
}

.mt {
  text-align: center;

  font-size: x-large;

}

/* .mi {
  height: 25vh;
  width: 25vh;
  border: 1px solid rgb(239, 17, 17);
  background-color: #fff;
  opacity: 1;
  padding: 40px;
  margin: 10px;
} */

#left {
  float: left;
  margin: 0 0 0 10%;
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: solid black;
}

#mid {
  float: left;
  margin: 0 0 0 10%;
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: solid black;
}

#right {
  float: right;
  margin: 0 5% 0 0;
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: solid black;
}

.it {
  text-align: center;
  text-decoration: underline;
}


#m {
  cursor: pointer;
}

.i {
  height: auto;
  width: 60%;
}

.invisible {
  opacity: 0;
}

.bd {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}


.bg {
  color: #15ff53;
  background-color: red;
}

#c {
  text-align: center;
  font-size: xx-large;
  color: #000000;
  background-color: #ffffff;

}

#cen {
  align-items: center;
  float: left;
  padding: auto;
  width: auto;
  height: auto;
  background-color: rgb(164, 254, 184);
  margin: 0 0 0 40%;
  
}

#cen1 {
  align-items: center;
  float: left;
  padding: 5%;
  width: auto;
  height: auto;
  background-color: rgb(164, 254, 184);
  margin: 0 0 0 40%;
  
}

#f1{
  font-weight:bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
}

#f2{
  font-weight:bolder;
  text-align: right;
  padding: 0 15% 0 0;
  background-color: #8de971;
}

#v{
  text-align: center;
  font-size: xx-large;
  color: #13ca29;
}
#nv{
  text-align: center;
  font-size: xx-large;
  color: #f42a2a;

}

